.header {
    .header__nav{
        .header__nav--link {
            display:flex;
            align-items: center;
        }
    }
}

.header {
    background-color: $colorbase;
    .header__marca {
        color:whitesmoke;
    }
    .header__marca:hover {
        transform:scale(1.02,1.02);
     }
}

