/*Inicio Var*/
.footer {
  background-color: #33425F;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

.footer .footer__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.footer .footer__lista .footer__lista--item {
  list-style: none;
  text-align: center;
  margin: auto;
  padding: 15px;
  text-decoration: none;
}

.footer .footer__lista .footer__lista--item .footer__lista--item__link {
  color: whitesmoke;
  text-decoration: none;
  margin: auto;
}

.footer .footer__lista .footer__lista--item .footer__lista--item__link:hover {
  color: grey;
}

@media only screen and (max-width: 768px) {
  .footer__lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding-left: 0rem;
  }
  .footer__lista .footer__lista--item {
    list-style: none;
    text-align: center;
    margin: auto;
    padding: 15px;
    text-decoration: none;
  }
  .footer__lista .footer__lista--item .footer__lista--item__link {
    color: whitesmoke;
    margin: auto;
    text-decoration: none;
  }
  .footer__lista .footer__lista--item .footer__lista--item__link .footer__lista--item__link:hover {
    color: #b4b4b4;
  }
}

@media only screen and (max-width: 375px) {
  .footer {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__lista {
    display: block;
    font-size: small;
  }
  .footer .footer__lista .footer__lista--item__link:hover {
    color: #b4b4b4;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 50px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 3;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.float__float {
  margin-top: 16px;
}

.header .header__nav .header__nav--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  background-color: #33425F;
}

.header .header__marca {
  color: whitesmoke;
}

.header .header__marca:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.escuelaDeVuelo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 20px;
  background-color: white;
  padding: 2%;
  margin: 0px;
}

.escuelaDeVuelo > div {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  font-size: smaller;
  border-radius: 15px;
}

.Escuela {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  padding: 10px;
}

.Escuela > p {
  padding: 20px;
}

.PPA {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  grid-row: 2;
}

.PPA p {
  padding: 10px;
}

.PCA {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.PCA p {
  padding: 10px;
}

.IV {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

.IV p {
  padding: 10px;
}

.PC1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 3;
  grid-row: 3;
}

.PC1 p {
  padding: 10px;
}

.PPH {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

.PPH p {
  padding: 10px;
}

.PTLA {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

.fotos {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  overflow: hidden;
}

.fotoUno {
  -webkit-transition: all 0,2seg;
  transition: all 0,2seg;
}

.fotoUno:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.fotos h2 {
  padding: 20px;
}

.fotos img {
  width: 100%;
  max-width: 200px;
  padding: 10px 5px;
  padding: 5px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .escuelaDeVuelo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 2%;
    margin: 0px;
  }
  .escuelaDeVuelo > div {
    background-color: rgba(223, 223, 223, 0.863);
    text-align: center;
    padding: 20px 0;
    font-size: smaller;
    border-radius: 15px;
  }
  .Escuela {
    grid-column: 1 / -1;
  }
  .Escuela > p {
    padding: 20px;
  }
  .PPA {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .PPA p {
    padding: 15px;
  }
  .PCA {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .PCA p {
    padding: 15px;
  }
  .IV {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .PC1 {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .PPH {
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .PTLA {
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .fotos {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    grid-row: 5 / 5;
    -ms-grid-row: 8;
    grid-row: 8;
    overflow: hidden;
  }
  .fotos h2 {
    padding: 20px;
  }
  .fotos img {
    width: 20%;
    max-width: 200px;
    padding: 5px;
    border-radius: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 375px) {
  .escuelaDeVuelo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    padding: 2%;
    margin: 0px;
  }
  .escuelaDeVuelo > div {
    background-color: rgba(223, 223, 223, 0.863);
    text-align: center;
    padding: 20px 0;
    font-size: smaller;
    border-radius: 15px;
  }
  .Escuela {
    grid-column: 1 / -1;
  }
  .Escuela > p {
    padding: 20px;
  }
  .PPA {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .PPA p {
    padding: 15px;
  }
  .PCA {
    grid-column: 1 / -1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .PCA p {
    padding: 15px;
  }
  .IV {
    grid-column: 1 / -1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .PC1 {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .PPH {
    grid-column: 1 / -1;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .PTLA {
    grid-column: 1 / -1;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .fotos {
    grid-column: 1 / -1;
    -ms-grid-row: 5;
    grid-row: 5 / 5;
    -ms-grid-row: 8;
    grid-row: 8;
    overflow: hidden;
  }
  .fotos h2 {
    padding: 20px;
  }
  .fotos img {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border-radius: 20px;
  }
}

#formulario {
  text-align: left;
  margin: 10px 0px;
}

#formulario h2 {
  margin-bottom: 5px;
}

form fieldset {
  padding: 5px;
  border-radius: 5px;
}

form fieldset div input {
  text-align: center;
  border-radius: 3px;
}

form fieldset div {
  margin: 3px;
  padding: 1px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons div input {
  padding: 2px;
}

.diarioMensual {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: whitesmoke;
}

* a:hover {
  color: grey;
}

.btn-primary {
  border: none;
  color: whitesmoke;
  background-color: #33425F;
}

.btn-primary:hover {
  border: none;
  color: grey;
  background-color: #33425F;
  outline: none;
}

.pie {
  list-style: none;
}

.mision {
  border: white 5px solid;
  margin: 1rem .25rem;
}

.misionContenido {
  margin: .75rem;
}

.suscripcion {
  background-color: whitesmoke;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: white 5px solid;
}

.contacto {
  background-color: whitesmoke;
  list-style: none;
  text-decoration: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: white 5px solid;
}

.contacto ul {
  text-decoration: none;
  list-style: none;
  font-size: smaller;
  padding-left: 10%;
  padding-top: 10%;
}

.contacto ul a {
  color: grey;
}

.ubicacion {
  background-color: whitesmoke;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border: white 5px solid;
}

.texto {
  margin: 50px 150px;
  padding: 3%;
  background-color: whitesmoke;
}

.texto .texto__titulo {
  color: #33425F;
  font-size: x-large;
}

.texto .texto__titulo .texto__titulo--parrafo {
  color: grey;
}

.fotosmain .fotosmain__foto {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  .navbar-collapse {
    margin-left: 20%;
  }
  .navbar-collapse .navbar-link {
    margin-left: 10%;
    width: 100%;
    margin: 1rem;
  }
  .navbar-collapse #dropdown {
    margin-left: 10%;
    width: 100%;
    margin: 1rem;
  }
  .navbar-collapse #dropdown .dropdown-menu {
    margin-left: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .fotosmain .fotosmain__foto {
    width: 100%;
    height: 20vh;
  }
  .d-block {
    height: 20vh;
  }
  .texto {
    margin: 25px 75px;
    padding: 3%;
    background-color: whitesmoke;
  }
  .texto .texto__titulo {
    color: #33425F;
    font-size: x-large;
  }
  .texto .texto__titulo .texto__titulo--parrafo {
    color: grey;
  }
  .sr-only {
    display: none;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    margin: 5px;
    padding: 10px;
  }
  .mision {
    margin: 1.25rem;
    padding: 20px;
  }
  .misionContenido {
    margin: 5px;
    padding: 0px;
  }
  .suscripcion {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .contacto {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .ubicacion {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .hangaraje {
    margin: 17px 50px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: whitesmoke;
  }
  .header .header__nav .header__nav--link {
    width: 75%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__marca {
    font-size: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .texto {
    margin: 10px 20px;
    padding: 3%;
    background-color: whitesmoke;
  }
  .texto .texto__titulo {
    color: #33425F;
    font-size: x-large;
  }
  .texto .texto__titulo .texto__titulo--parrafo {
    color: grey;
  }
  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    margin: 5px;
    padding: 10px;
  }
  .suscripcion {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .contacto {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .ubicacion {
    width: 98%;
    margin: 10px 5px;
    padding: 10px;
  }
  .header .header__nav .header__nav--link {
    width: 75%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__marca {
    font-size: 90%;
  }
}
/*# sourceMappingURL=estilo.css.map */